<div class="dashboardContainer">
    <div class="leftSection">
      <fieldset class="moneyLeft">
        <legend>Money Left:</legend>
        <!-- <div>${{ expensesComponent.totalSum }}</div> -->
      </fieldset>
      <fieldset class="categorySummary">
        <legend>Category Summary:</legend>
        <div>$$$</div>
      </fieldset>
    </div>
    <div class="rightSection">
      <fieldset class="budgets">
        <legend>Budgets</legend>
        <div>Bill: / </div>
        <div>Groceries: / </div>
        <div>Savings: / </div>
        <div>Transportation: / </div>
        <div>Restaurant: / </div>
        <div>Shopping: / </div>
        <div>Other: / </div>
      </fieldset>
    </div>
  </div>
  